# ipynb files
*.ipynb
*.
.vscode/
# test files, experimental data
tmp/
ExpData/
Plot/
__pycache__/
DataForTrain/
Pictures/
.ipynb_checkpoints/
tmp_trash/
ad_loc_test1.py
ForceSensor/
Kinematics/
Scripts/forceplot.py